* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ==================================================== */

.gallery {
    width: 1440px;
    padding: 24px 156px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    background: #fff;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

/* .gallery-link {} */

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.04);
}